[submodule "src/gazebo_ros_demos"]
	path = src/gazebo_ros_demos
	url = https://github.com/ros-simulation/gazebo_ros_demos.git
[submodule "src/hector_small_arm_common"]
	path = src/hector_small_arm_common
	url = https://github.com/tu-darmstadt-ros-pkg/hector_small_arm_common.git
[submodule "src/--force"]
	path = src/--force
	url = https://bitbucket.org/traclabs/trac_ik.git
[submodule "src/trac_ik"]
	path = src/trac_ik
	url = https://bitbucket.org/traclabs/trac_ik.git
[submodule "additional_code/dynamixel_hr"]
	path = additional_code/dynamixel_hr
	url = https://github.com/HumaRobotics/dynamixel_hr.git
[submodule "src/dynamixel_hr_ros"]
	path = src/dynamixel_hr_ros
	url = https://github.com/HumaRobotics/dynamixel_hr_ros.git
[submodule "additional_code/DynamixelSDK"]
	path = additional_code/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
