<launch>
    <!-- Start tilt joint controller -->
    <rosparam file="$(find scara_setup_dynamixel)/config/scara_setup_hw_controller.yaml" command="load"/>
    <node name="hw_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port scara_setup_port
                linear_hw_controller
                shoulder_hw_controller
                elbow_hw_controller
                wrist_hw_controller
                fingerjoint_hw_controller"
          output="screen"/>
</launch>
